html {
  color: #ffff;
  font-size: 1em;
  line-height: 1.4;
  background: #190b23;
  background: linear-gradient(90deg, #0F194C, #190b23);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* Start */
.solaris {
}

/* Main */
.solaris-main {
}

.solaris-main header {
}

.solaris-main h1 {
}

.solaris-main h2 {
}

.solaris-main content {
}

.solaris-system {
}

.solaris-system ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.planet {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
}

.planet.mercury {
  background: #888888;
}

.planet.venus {
  width: 26px;
  height: 26px;
  background: #E7CDCD;
}

.planet.earth {
  width: 28px;
  height: 28px;
  background: #428ED4;
}

.planet.mars {
  width: 14px;
  height: 14px;
  background: #EF5F5F;
}

.planet.jupiter {
  width: 188px;
  height: 188px;
  background: #E29468;
}

.planet.saturn {
  width: 144px;
  height: 144px;
  background: #C7AA72;
}

.planet.uranus {
  width: 66px;
  height: 66px;
  background: #C9D4F1;
}

.planet.neptune {
  width: 66px;
  height: 66px;
  background: #7A91A7;
}


.planet-ring {
  /* display: block;
  width: 120%;
  height: 3px;
  background: red; */
}


.planet-description {
  visibility: hidden;
}

.solaris-main footer {
}

.solaris-main footer span {
}

/* Display Overlay */
.solaris-display_overlay {
}
