html {
  color: #ffff;
  font-size: 1em;
  line-height: 1.4;
  background: #190b23;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* Start */
.solaris {
}

/* Main */
.solaris-main {
}

.solaris-main header {
}

.solaris-main h1 {
}

.solaris-main h2 {
}

.solaris-main content {
}

.solaris-system {
}

.solaris-system ul {
}

.planet {
}

.planet-star {
}

.planet-description {
}

.solaris-main footer {
}

.solaris-main footer span {
}

